.leaflet-draw-section:not(:first-child) {
  float: right;
}
/*
ul.leaflet-draw-actions {
  margin-top: 4px;
  float: right;
  height: 30px;
  position: relative;
}
*/

/*
.leaflet-draw-toolbar a.leaflet-draw-draw-polygon {
  background-image: none;
  width: 80px;
  padding: 0 6px;
}
*/
@keyframes example {
    0% {
      transform-origin: center;
      transform: scale(1);
    }
    100% {
      transform-origin: center;
      transform: scale(1.3)
    }
}
/* this adds animation to the first vertex. Saddly as the element
already has a transform3d applied (dunno from where) it gets relocated
to somewhere in the left top corner of the map*/
.leaflet-marker-pane > .vertex {
  border-radius: 10px;
  /*animation: example 2s linear 0s infinite alternate;*/
}
/* this makes any other vertex (not first) to not have the animation applied */
.leaflet-marker-pane > .vertex ~ .vertex {
  animation: none;
}
